$cac-red: #c50018;
$cac-gray-light: #b4b4b4;
$cac-gray-dark: #5a5a5a;
$cac-black: #000000;

$cac-tint-black: invert(0%) contrast(100%) sepia(0%) brightness(-100%) hue-rotate(341deg) saturate(0%);
$cac-tint-black-to-red: brightness(0) invert(0%) contrast(70%) sepia(200%) brightness(140%) hue-rotate(340deg)
	saturate(900%);
//invert(20%) sepia(33%) saturate(4952%) hue-rotate(318deg) brightness(85%) contrast(194%);
